//------Text colors--------//
$text-main-color: #ffffff;
$text-dark-color: #354a9e;
$text-medium-color: #a9a9a9;

//------Element colors--------//
$element-main-color: #ffffff;
$element-dark-color: #354a9e;
$element-medium-color: #a9a9a9;

//------fonts--------//
$font-family:'Montserrat', sans-serif;


